* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8fafc;
    color: #1e293b;
}

#root {
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
    text-align: center;
}

h1 {
    color: #5b5fef;
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 10px;
}

p {
    color: #64748b;
}